In [1]:
1+1

2

# python code
## test code
-this is my first code

In [1]:
4%2

0

In [2]:
5//2

2

In [4]:
type(5/2)

float

In [5]:
True or False

True

In [6]:
True and False

False

In [7]:
True or True

True

In [8]:
False and False

False

In [9]:
False or False

False

In [11]:
False | True

True

In [17]:
a=10
b=20
a+b>30 | a-b<10

True

In [19]:
year =2020
print (year%4==0 and (year%100==0 or year%400==0))#print_stat1 
print (year%4==0 & (year%100==0 or year%400==0))#print_stat2

False
True

In [22]:
a=10
b=20
print (a & b)
print (a and b)
print (10 & b)

0
20
0

In [32]:
a=str(123)

In [34]:
print (a)
type(a)

123

str

In [40]:
first='nithin'
second='kumar'

first+ " " +second

'nithin kumar'

In [52]:

a=float(input("enter any value"))

enter any value12345

In [56]:
first_name=input("Enter the first name")
second_name=input("Enter the second name")
print("welcome to boss {first}  {second}".format(first=first_name,second=second_name))

Enter the first namenithin
Enter the second namekumar
welcome to boss nithin  kumar

In [68]:
a=int(input("enter number 1?"))
b=int(input("enter number 2?"))
c=a-b
print (c)
if c<0 :
    print("number is negative")
else:
    print("number is positive")

IndentationError: expected an indented block (<ipython-input-68-3d21b44c6c8d>, line 6)

In [77]:
lst=[1,2,3,4,"nithin", "kumar"]
lst.append('nithin')
lst.append('nithin')
lst.append('nithin')
lst.append('nithin')

lst.count('nithin')

5

In [81]:
str1='nithin'
str1='y'