# understanding pandas 
## downloading csv file to local and using it
https://realpython.com/pandas-python-explore-dataset/

In [1]:
import requests
download_url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv"
target_csv_path = "nba_all_elo.csv"

response = requests.get(download_url)
response.raise_for_status()    # Check that the request was successful
with open(target_csv_path, "wb") as f:
    f.write(response.content)
print("Download ready.")

Download ready.

In [2]:
import pandas as pd 
nba = pd.read_csv("nba_all_elo.csv")
type(nba)

pandas.core.frame.DataFrame

In [8]:
nba.shape

(126314, 23)

In [9]:
len(nba)

126314

In [10]:
nba.info

<bound method DataFrame.info of         gameorder       game_id lg_id  _iscopy  year_id  date_game  \
0               1  194611010TRH   NBA        0     1947  11/1/1946
1               1  194611010TRH   NBA        1     1947  11/1/1946
2               2  194611020CHS   NBA        0     1947  11/2/1946
3               2  194611020CHS   NBA        1     1947  11/2/1946
4               3  194611020DTF   NBA        0     1947  11/2/1946
...           ...           ...   ...      ...      ...        ...
126309      63155  201506110CLE   NBA        0     2015  6/11/2015
126310      63156  201506140GSW   NBA        0     2015  6/14/2015
126311      63156  201506140GSW   NBA        1     2015  6/14/2015
126312      63157  201506170CLE   NBA        0     2015  6/16/2015
126313      63157  201506170CLE   NBA        1     2015  6/16/2015

        seasongame  is_playoffs team_id    fran_id  ...  win_equiv  opp_id  \
0                1            0     TRH    Huskies  ...  40.294830     NYK
1                1            0     NYK     Knicks  ...  41.705170     TRH
2                1            0     CHS      Stags  ...  42.012257     NYK
3                2            0     NYK     Knicks  ...  40.692783     CHS
4                1            0     DTF    Falcons  ...  38.864048     WSC
...            ...          ...     ...        ...  ...        ...     ...
126309         100            1     CLE  Cavaliers  ...  60.309792     GSW
126310         102            1     GSW   Warriors  ...  68.013329     CLE
126311         101            1     CLE  Cavaliers  ...  60.010067     GSW
126312         102            1     CLE  Cavaliers  ...  59.290245     GSW
126313         103            1     GSW   Warriors  ...  68.519516     CLE

         opp_fran  opp_pts  opp_elo_i  opp_elo_n  game_location  game_result  \
0          Knicks       68  1300.0000  1306.7233              H            L
1         Huskies       66  1300.0000  1293.2767              A            W
2          Knicks       47  1306.7233  1297.0712              H            W
3           Stags       63  1300.0000  1309.6521              A            L
4        Capitols       50  1300.0000  1320.3811              H            L
...           ...      ...        ...        ...            ...          ...
126309   Warriors      103  1790.9591  1809.9791              H            L
126310  Cavaliers       91  1704.3949  1700.7391              H            W
126311   Warriors      104  1809.9791  1813.6349              A            L
126312   Warriors      105  1813.6349  1822.2881              H            L
126313  Cavaliers       97  1700.7391  1692.0859              A            W

        forecast notes
0       0.640065   NaN
1       0.359935   NaN
2       0.631101   NaN
3       0.368899   NaN
4       0.640065   NaN
...          ...   ...
126309  0.546572   NaN
126310  0.765565   NaN
126311  0.234435   NaN
126312  0.481450   NaN
126313  0.518550   NaN

[126314 rows x 23 columns]>

## setting coloumns size to all 
# which means all the col are visible
## precision means values after .

In [11]:
pd.set_option("display.max_columns",None)

In [12]:
pd.set_option("display.precision",2)

In [13]:
nba

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.00,1293.28,40.29,NYK,Knicks,68,1300.00,1306.72,H,L,0.64,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.00,1306.72,41.71,TRH,Huskies,66,1300.00,1293.28,A,W,0.36,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.00,1309.65,42.01,NYK,Knicks,47,1306.72,1297.07,H,W,0.63,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.72,1297.07,40.69,CHS,Stags,63,1300.00,1309.65,A,L,0.37,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.00,1279.62,38.86,WSC,Capitols,50,1300.00,1320.38,H,L,0.64,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.41,1704.39,60.31,GSW,Warriors,103,1790.96,1809.98,H,L,0.55,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.98,1813.63,68.01,CLE,Cavaliers,91,1704.39,1700.74,H,W,0.77,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.39,1700.74,60.01,GSW,Warriors,104,1809.98,1813.63,A,L,0.23,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.74,1692.09,59.29,GSW,Warriors,105,1813.63,1822.29,H,L,0.48,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.63,1822.29,68.52,CLE,Cavaliers,97,1700.74,1692.09,A,W,0.52,NaN

In [14]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

# Describe provides stats of data like mean count etc

In [15]:
nba.describe()

,gameorder,_iscopy,year_id,seasongame,is_playoffs,pts,elo_i,elo_n,win_equiv,opp_pts,opp_elo_i,opp_elo_n,forecast
count,126314.00,126314.0,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00
mean,31579.00,0.5,1988.20,43.53,0.06,102.73,1495.24,1495.24,41.71,102.73,1495.24,1495.24,0.50
std,18231.93,0.5,17.58,25.38,0.24,14.81,112.14,112.46,10.63,14.81,112.14,112.46,0.22
min,1.00,0.0,1947.00,1.00,0.00,0.00,1091.64,1085.77,10.15,0.00,1091.64,1085.77,0.02
25%,15790.00,0.0,1975.00,22.00,0.00,93.00,1417.24,1416.99,34.10,93.00,1417.24,1416.99,0.33
50%,31579.00,0.5,1990.00,43.00,0.00,103.00,1500.95,1500.95,42.11,103.00,1500.95,1500.95,0.50
75%,47368.00,1.0,2003.00,65.00,0.00,112.00,1576.06,1576.29,49.64,112.00,1576.06,1576.29,0.67
max,63157.00,1.0,2015.00,108.00,1.00,186.00,1853.10,1853.10,71.11,186.00,1853.10,1853.10,0.98

# taking data of only non panda objects like strings using describe 
## using numpy lib

In [16]:
import numpy as np 
nba.describe(include=np.object)

,game_id,lg_id,date_game,team_id,fran_id,opp_id,opp_fran,game_location,game_result,notes
count,126314,126314,126314,126314,126314,126314,126314,126314,126314,5424
unique,63157,2,12426,104,53,104,53,3,2,231
top,197811300KCK,NBA,4/17/2013,BOS,Lakers,BOS,Lakers,H,W,at New York NY
freq,2,118016,30,5997,6024,5997,6024,63138,63157,440

In [17]:
nba["game_id"].value_counts()

197811300KCK    2
201203110ORL    2
198311230MIL    2
195712210BOS    2
195311190BLB    2
               ..
195203200SYR    2
200901190NYK    2
201002270MIA    2
201302130MIL    2
199604190PHI    2
Name: game_id, Length: 63157, dtype: int64

In [18]:
nba["team_id"].value_counts()

BOS    5997
NYK    5769
LAL    5078
DET    4985
PHI    4533
       ...
INJ      60
DTF      60
PIT      60
TRH      60
SDS      11
Name: team_id, Length: 104, dtype: int64

In [19]:
nba["fran_id"].value_counts()

Lakers          6024
Celtics         5997
Knicks          5769
Warriors        5657
Pistons         5650
Sixers          5644
Hawks           5572
Kings           5475
Wizards         4582
Spurs           4309
Bulls           4307
Pacers          4227
Thunder         4178
Rockets         4154
Nuggets         4120
Nets            4106
Suns            4080
Bucks           4034
Trailblazers    3870
Cavaliers       3810
Clippers        3733
Jazz            3555
Mavericks       3013
Heat            2371
Pelicans        2254
Magic           2207
Timberwolves    2131
Grizzlies       1657
Raptors         1634
Hornets          894
Colonels         846
Squires          799
Spirits          777
Stars            756
Sounds           697
Baltimore        467
Floridians       440
Condors          430
Capitols         291
Olympians        282
Sails            274
Stags            260
Bombers          249
Steamrollers     168
Packers           72
Redskins          65
Rebels            63
Waterloo          62
Denver            62
Falcons           60
Ironmen           60
Huskies           60
Jets              60
Name: fran_id, dtype: int64

In [21]:
nba.loc[nba["fran_id"]=="Lakers", "team_id"].value_counts()

LAL    5078
MNL     946
Name: team_id, dtype: int64

In [22]:
nba.loc[nba["team_id"]=="MNL","date_game"]

1136     11/4/1948
1152     11/6/1948
1159     11/9/1948
1170    11/11/1948
1183    11/13/1948
           ...
9701     3/19/1960
9702     3/20/1960
9709     3/22/1960
9711     3/24/1960
9715     3/26/1960
Name: date_game, Length: 946, dtype: object

In [24]:
nba.loc[nba["team_id"]=="MNL","date_game"].min()

'1/1/1949'

In [25]:
nba.loc[nba["team_id"]=="MNL","date_game"].max()

'4/9/1959'

In [26]:
nba.loc[nba["team_id"]=="MNL","date_game"].agg(("min", "max"))

min    1/1/1949
max    4/9/1959
Name: date_game, dtype: object

In [34]:
nba.loc[nba["team_id"]=="BOS","pts"].sum()

626484

## build some smaller Pandas objects from scratch

A sequence of values
A sequence of identifiers, which is the index
You can access these components with .values and .index, respectively:

In [47]:
revenue = pd.Series([3333,4444,5555,5554])
revenue

0    3333
1    4444
2    5555
3    5554
dtype: int64

In [48]:
revenue.values
revenue.index

RangeIndex(start=0, stop=4, step=1)

In [49]:
type(revenue.index)

pandas.core.indexes.range.RangeIndex

In [53]:
city_revenues= pd.Series([2222,3333,4444,5555,6666],index=["Delhi","Hyderbad","Punjab","amrithsar","chennai"])

In [54]:
city_revenues

Delhi        2222
Hyderbad     3333
Punjab       4444
amrithsar    5555
chennai      6666
dtype: int64

In [55]:
city_revenues.index

Index(['Delhi', 'Hyderbad', 'Punjab', 'amrithsar', 'chennai'], dtype='object')

In [62]:
type(city_revenues.keys())

pandas.core.indexes.base.Index

In [72]:
nba.keys()

Index(['gameorder', 'game_id', 'lg_id', '_iscopy', 'year_id', 'date_game',
       'seasongame', 'is_playoffs', 'team_id', 'fran_id', 'pts', 'elo_i',
       'elo_n', 'win_equiv', 'opp_id', 'opp_fran', 'opp_pts', 'opp_elo_i',
       'opp_elo_n', 'game_location', 'game_result', 'forecast', 'notes'],
      dtype='object')

In [73]:
city_employee_count = pd.Series({"Amsterdam": 5, "Tokyo": 8})

In [74]:
city_data = pd.DataFrame({"revenue": city_revenues,"employee_count": city_employee_count})

In [75]:
city_data

           revenue  employee_count
Amsterdam      NaN             5.0
Delhi       2222.0             NaN
Hyderbad    3333.0             NaN
Punjab      4444.0             NaN
Tokyo          NaN             8.0
amrithsar   5555.0             NaN
chennai     6666.0             NaN

In [85]:
city_data["employee_count"].value_counts()

8.0    1
5.0    1
Name: employee_count, dtype: int64

In [86]:
city_data.index

Index(['Amsterdam', 'Delhi', 'Hyderbad', 'Punjab', 'Tokyo', 'amrithsar',
       'chennai'],
      dtype='object')

In [87]:
city_data.values

array([[      nan, 5.000e+00],
       [2.222e+03,       nan],
       [3.333e+03,       nan],
       [4.444e+03,       nan],
       [      nan, 8.000e+00],
       [5.555e+03,       nan],
       [6.666e+03,       nan]])

In [88]:
city_data.axes

[Index(['Amsterdam', 'Delhi', 'Hyderbad', 'Punjab', 'Tokyo', 'amrithsar',
        'chennai'],
       dtype='object'),
 Index(['revenue', 'employee_count'], dtype='object')]

In [89]:
city_data.axes[0]

Index(['Amsterdam', 'Delhi', 'Hyderbad', 'Punjab', 'Tokyo', 'amrithsar',
       'chennai'],
      dtype='object')

In [91]:
city_data.axes[1]

Index(['revenue', 'employee_count'], dtype='object')

In [92]:
city_data.keys()

Index(['revenue', 'employee_count'], dtype='object')

In [93]:
"Amsterdam" in city_data

False

In [94]:
"employee_count" in city_data

True

In [95]:
nba.keys()

Index(['gameorder', 'game_id', 'lg_id', '_iscopy', 'year_id', 'date_game',
       'seasongame', 'is_playoffs', 'team_id', 'fran_id', 'pts', 'elo_i',
       'elo_n', 'win_equiv', 'opp_id', 'opp_fran', 'opp_pts', 'opp_elo_i',
       'opp_elo_n', 'game_location', 'game_result', 'forecast', 'notes'],
      dtype='object')

In [96]:
"points" in nba

False

In [97]:
nba.index

RangeIndex(start=0, stop=126314, step=1)

In [98]:
nba.axes

[RangeIndex(start=0, stop=126314, step=1),
 Index(['gameorder', 'game_id', 'lg_id', '_iscopy', 'year_id', 'date_game',
        'seasongame', 'is_playoffs', 'team_id', 'fran_id', 'pts', 'elo_i',
        'elo_n', 'win_equiv', 'opp_id', 'opp_fran', 'opp_pts', 'opp_elo_i',
        'opp_elo_n', 'game_location', 'game_result', 'forecast', 'notes'],
       dtype='object')]

In [103]:
nba.axes[1]

Index(['gameorder', 'game_id', 'lg_id', '_iscopy', 'year_id', 'date_game',
       'seasongame', 'is_playoffs', 'team_id', 'fran_id', 'pts', 'elo_i',
       'elo_n', 'win_equiv', 'opp_id', 'opp_fran', 'opp_pts', 'opp_elo_i',
       'opp_elo_n', 'game_location', 'game_result', 'forecast', 'notes'],
      dtype='object')

In [104]:
type(nba)

pandas.core.frame.DataFrame